.logo {
  display: flex;
  flex-direction: column;
  min-width: 70.5px;
  justify-content: center;
  align-items: center;
}

.logoText {
  color: var(--yellow);
  font-size: clamp(0.375rem, 0.2536rem + 0.5178vw, 0.875rem);
}

.logoImage {
  width: 37.8px;
  height: 34.61px;
  aspect-ratio: 1.09;
}

@media (min-width: 768px) {
  .logoImage {
    width: 60px;
    height: 57px;
  }

  .logo {
    min-width: 95px;
  }
}

@media (min-width: 1920px) {
  .logoImage {
    width: 95px;
    height: 87px;
  }

  .logo {
    min-width: 95px;
  }
}
