.container {
  background-color: var(--black);
  padding: 7px 12px 7.38px 15px;
}

@media (min-width: 768px) {
  .container {
    padding: 6px 41px 7px 37px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 11px 130px 11px 130px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1920px;
  margin: 0 auto;
}

.navList {
  display: none;
}

@media (min-width: 1024px) {
  .navList {
    display: flex;
    margin-right: 5%;
    margin-left: auto;
    gap: 72px;
  }

  .navLink {
    font-size: 18px;
    line-height: 21px;
    padding: 18px 34px 19px 35px;
    cursor: pointer;
  }

  .navLink.active {
    background: linear-gradient(var(--black), var(--black)) padding-box,
      var(--linearYellow) border-box;
    border-radius: 4px;
    border: 1px solid transparent;
  }
}
