.hero {
  background-image: url("/public/bgPattern.png");
  width: 100%;
  height: 100%;

  padding: 38px 19px 38px 15px;

  display: flex;
  justify-content: center;
  gap: 21px;
  flex-wrap: wrap;
}

.mainContent {
  max-width: 400px;
}

.mainContent h1 {
  color: var(--yellow);
  font-size: clamp(0.875rem, 0.8447rem + 0.1294vw, 1rem);
  line-height: 1.2;
  font-weight: 600;
}

.mainContent h2 {
  font-size: clamp(1.5625rem, 0.8799rem + 2.9126vw, 4.375rem);
  line-height: 1.28;
  font-weight: 700;
  margin: 6px 0;
  max-width: 90%;
}

.mainContent p {
  font-size: clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem);
  font-weight: 500;
  line-height: 1.57;

  margin-bottom: 32px;
}

.stores {
  margin-top: 32px;
  display: flex;
  gap: 8px;
}

.stores img {
  width: 97px;
  height: 28px;
  aspect-ratio: 3.464;
  border-radius: 4px;
}

.stores a {
  transition: all 0.3s ease-in-out;
}
.stores a:hover {
  transform: scale(1.04);
}

.mainImage {
  width: 228.39px;
  height: 217.93px;
  margin: 0 auto;
}

.mainImage img {
  width: 100%;
  height: auto;
  aspect-ratio: 0.954;
}

@media (min-width: 768px) {
  .hero {
    padding: 54px 44px 73px 44px;
    gap: 26px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .mainContent {
    max-width: 50vw;
  }

  .mainContent h2 {
    margin: 6px 0 16px;
  }

  .mainContent p {
    font-weight: 500;
    line-height: 1.625;
    margin-bottom: 40px;
  }

  .stores {
    gap: 16px;
  }

  .stores img {
    width: 113px;
    height: 32px;
  }

  .mainImage {
    width: 250px;
    height: 359px;
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .hero {
    padding: 72px 130px 72px 130px;
  }

  .mainImage {
    max-width: 450px;
    width: 30vw;
  }

  .contentContainer {
    width: 50vw;
  }

  .mainContent {
    max-width: 86%;
    margin-right: auto;
  }
}

@media (min-width: 1920px) {
  .mainContent {
    max-width: 694px;
    margin-right: auto;
  }

  .mainContent h2 {
    margin: 6px 0 12px;
    line-height: 1.4;
    max-width: unset;
  }

  .mainContent p {
    font-weight: 400;
    line-height: 2.1;
    margin-bottom: 56px;
  }

  .stores {
    gap: 16px;
  }

  .stores img {
    width: 174px;
    height: 50px;
  }

  .mainImage {
    width: 587px;
    height: 843px;
  }
}
