.hero {
  background-image: url("/images/bgPattern.png");
  width: 100%;
  height: calc(100vh - 55px);
  max-height: 700px;
  padding: 38px 19px 38px 15px;

  display: flex;
}

.heroContainer {
  display: flex;
  justify-content: center;
  gap: 21px;
  flex-wrap: wrap;
  width: 100%;
}
.mainContent {
  max-width: 400px;
}

.mainContent h1 {
  color: var(--yellow);
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.mainContent h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;

  margin: 6px 0;
  max-width: 90%;
}

.mainContent p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  line-height: 1.57;

  margin-bottom: 32px;
}

.stores {
  margin-top: 32px;
  display: flex;
  gap: 8px;
}

.storesImg {
  width: 97px;
  height: 28px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.storesImg:hover {
  transform: scale(1.05);
}
.storesImg img {
  aspect-ratio: 3.464 !important;
  border-radius: 4px !important;
}

.stores a {
  transition: all 0.3s ease-in-out;
}
.stores a:hover {
  transform: scale(1.04);
}

.mainImage {
  position: relative;
  width: 282.34px;
  height: 295.89px;
  margin: 0 auto;
}

.mainImage img {
  width: 100%;
  height: auto;
  aspect-ratio: 0.954;
}

/* relative media queries */

@media (min-width: 321px) {
  .hero {
    padding: 38px 5.94vw 38px 4.69vw;
  }
}

@media (min-width: 520px) {
  .heroContainer {
    flex-wrap: unset;
  }
  .mainContent p {
    font-size: clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem);
  }
}

@media (min-width: 768px) {
  .hero {
    padding: 54px 5.729vw 73px;
    height: calc(100vh - 82px);
    max-height: 440px;
  }
  .heroContainer {
    gap: 26px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .contentContainer {
    width: 100%;
    max-width: 60%;
  }

  .mainContent h1 {
    font-size: clamp(0.875rem, 0.5rem + 0.7813vw, 1rem);
  }

  .mainContent h2 {
    margin: 6px 0 14px;

    font-size: clamp(2.25rem, 0.8333rem + 2.9514vw, 4.375rem);
    line-height: 44px;
  }

  .mainContent p {
    font-weight: 500;
    line-height: 1.625;
    margin-bottom: 40px;
  }

  .stores {
    gap: 16px;
  }

  .storesImg {
    width: 113px;
    height: 32px;
  }

  .mainImage {
    width: 300px;
    height: 314.47px;
    margin: unset;
    margin-left: auto;
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .hero {
    padding: 72px 5.5vw;
    display: block;
    height: calc(100vh - 91px);
    max-height: 550px;
  }
  .heroContainer {
    padding: 64px 0 58px;
    justify-content: space-between;
  }
  .mainContent {
    max-width: 90%;
    margin-right: auto;
  }

  .mainContent h2 {
    margin: 10px 0 18px;
    line-height: 1.1;
  }

  .contentContainer {
    flex-basis: 60%;
  }

  .mainImage {
    flex-basis: 40%;
  }
}

@media (min-width: 1440px) {
  .hero {
    padding: 20px 7.5vw;
    height: calc(100vh - 109px);

    max-height: 650px;
  }

  .mainImage {
    max-width: 100%;
    width: 512.21px;
    height: 528.25px;
    flex-basis: unset;
  }

  .contentContainer {
    width: 100%;
    max-width: 48%;
  }
}

@media (min-width: 1920px) {
  .hero {
    height: calc(100vh - 125px);
    max-height: 866px;
    padding: 72px 130px 72px 130px;
  }

  .heroContainer {
    max-width: 1920px;
    margin: 0 auto;
  }
  .mainContent {
    max-width: 694px;
    margin-right: auto;
  }

  .mainContent h1 {
    font-size: 16px;
    line-height: 19px;
  }

  .mainContent h2 {
    max-width: unset;

    font-size: 70px;
    line-height: 98px;
  }

  .mainContent p {
    font-weight: 400;
    line-height: 2.1;
    margin-bottom: 56px;
  }

  .stores {
    gap: 16px;
  }

  .storesImg {
    width: 174px;
    height: 50px;
  }

  .mainImage {
    max-width: 684.8px;
    width: 684.8px;
    height: 717.68px;
  }
}
