.table table,
.table th,
.table td {
  border: 1px solid rgba(176, 176, 176, 0.608);
  border-collapse: collapse !important;
}

.table td,
.table th {
  padding: 8px;
  text-align: center;
}

.table td:last-child {
  text-align: unset;
}

.table {
  max-width: 968px;
  margin: 24px auto;
}
