/*
* ::::::::::::::::::::::::::::::::::::::::::::::::::::
* ::::::::::::::::::: FONT IMPORTS :::::::::::::::::::
* ::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

/* 
* Font weights:
* - thin: 200
* - light: 300
* - regular: 400
* - medium: 500
* - semi-bold: 600
* - bold: 700
* - black: 900
*/

/* Thin */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Thin.ttf") format("ttf");
  font-weight: 200;
}

/* Light */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Light.ttf") format("ttf");
  font-weight: 300;
}

/* Regular */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Regular.ttf") format("ttf");
  font-weight: 400;
}

/* Medium */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Medium.ttf") format("ttf");
  font-weight: 500;
}

/* Semi Bold */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

/* Bold */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Bold.ttf") format("ttf");
  font-weight: 700;
}

/* Black */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Black.ttf") format("ttf");
  font-weight: 900;
}

/*
* ::::::::::::::: ITALIC VARIANTS :::::::::::::::: 
*/

/* Ligth Italic */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-ThinItalic.ttf") format("ttf");
  font-weight: 200;
  font-style: italic;
}

/* Light Italic */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-LightItalic.ttf") format("ttf");
  font-weight: 300;
  font-style: italic;
}

/* Regular Italic */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-RegularItalic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
}

/* Medium Italic */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-MediumItalic.ttf") format("ttf");
  font-weight: 500;
  font-style: italic;
}

/* SemiBold Italic */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-SemiBoldItalic.ttf") format("ttf");
  font-weight: 600;
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
}

/* Black Italic */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-BlackItalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
}
