.container {
  padding: 40px 10px;
}

@media (min-width: 768px) {
  .container {
    padding: 80px 24px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 100px 60px;
  }
}

@media (min-width: 1920px) {
  .container {
    padding: 40px 80px;
  }
}
