.earnSection {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 38px 0 38px 0;
}

.earnContainer {
  background: linear-gradient(var(--primaryBg), var(--primaryBg)) padding-box,
    var(--linearBorderLight) border-box;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 27px 17px 28px 16px;
}

.earnImage {
  margin: 0 auto;
  width: 225px;
  height: 289px;
}

.earnImage img {
  width: 100%;
  height: auto;
  aspect-ratio: 0.778;
}

.earnContent {
  margin: 27px auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  text-align: center;
}

.earnContent h3 {
  font-size: clamp(1.5rem, 1.0146rem + 2.0712vw, 3.5rem);
  font-weight: 500;
  text-align: center;
}

.playBtn {
  padding: 15px 53px 14px;
  font-size: clamp(0.875rem, 0.8212rem + 0.2532vw, 1.125rem);
  background: linear-gradient(var(--primaryBg), var(--primaryBg)) padding-box,
    var(--linearBorder) border-box;
  border-radius: 6px;
  border: 1px solid transparent;
  min-width: 188px;
  transition: all 0.3s ease-in-out;
  align-self: center;
}

.playBtn:hover {
  background: #ed143d70;
}

@media (min-width: 768px) {
  .earnContainer,
  .playBtn {
    background: linear-gradient(var(--primaryBg), var(--primaryBg)) padding-box,
      var(--linearBorder) border-box;
  }

  .earnContainer {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    max-width: 1300px;
    width: 100%;
    border-radius: 12px;
    align-items: center;
  }
  .earnImage {
    order: 2;
    width: 177px;
    height: 229px;
  }
  .earnContent {
    width: 65%;
    justify-content: unset;
    text-align: left;
    gap: 24px;
    flex-direction: column;
    margin-top: 0;
  }
  .earnContent h3 {
    text-align: left;
    font-size: 24px;
    line-height: 29px;
  }

  .playBtn {
    align-self: flex-start;
  }

  .earnSection {
    padding: 26px 0 38px 0;
  }
}

@media (min-width: 1920px) {
  .earnContainer {
    width: 100%;
    gap: 91px;
    padding: 45px 64px 45px 59px;
  }

  .earnImage {
    width: 405px;
    height: 520px;
  }

  .earnContent h3 {
    text-align: left;
    font-size: 56px;
    line-height: 81px;
  }
  .earnSection {
    padding: 66px 180px 66px 180px;
  }
}
