.gameCard {
  padding: 13px 14px 15px 14px;
  border-radius: 6px;
  width: 100%;
  max-width: 345px;
  height: 378px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.live {
  background: linear-gradient(var(--primaryBg), var(--primaryBg)) padding-box,
    var(--linearPurple) border-box;
  border: 1px solid transparent;
}

.notLive {
  background: linear-gradient(var(--primaryBg), var(--primaryBg)) padding-box,
    var(--linearYellow) border-box;
  border: 1px solid transparent;

  /* background-color: white; */
}

.overlay_live {
  overflow: hidden;
  height: 0;
}

.overlay_notLive {
  backdrop-filter: blur(20px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(98, 98, 98, 0.7);

  display: flex;
  font-size: clamp(1rem, 0.8386rem + 0.7595vw, 1.75rem);
  justify-content: center;
  align-items: center;
  font-weight: 700;
  z-index: 10;
}

.cardImage {
  width: 100%;
  max-width: 317px;
  max-height: 234px;
  border-radius: 6px;
  overflow: hidden;
}
.cardImage img {
  width: 100%;
}

.cardTitle {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 24px 0;
}

.cardTitle h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  flex-grow: 1;
}

.cardTitle a {
  font-size: 12px;
  font-weight: 200;
  text-transform: capitalize;
  color: var(--yellow);
}

.cardTitle a:hover {
  transform: scale(1.02);
  text-decoration: underline;
}

.cardBtn {
  width: 100%;
  padding: 17px 40px;
  border: 1px solid var(--yellow);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.cardBtn:hover {
  background-color: var(--yellow);
}

@media (min-width: 768px) {
  .gameCard {
    padding: 24px 16px;
    border-radius: 12px;
    width: 100%;
    max-width: 318px;
    height: 355px;
  }

  .cardImage {
    max-width: unset;
    max-height: unset;
    width: 286px;
    height: 156px;
    border-radius: 8px;
  }

  .cardTitle {
    margin: 32px 0;
    font-weight: 600;
  }
}
@media (min-width: 1920px) {
  .gameCard {
    padding: 32px 28px;
    border-radius: 12px;
    max-width: 540px;
    height: 600px;
  }

  .cardImage {
    width: 485px;
    height: 356px;
  }

  .cardTitle {
    margin: 42px 0 40;
    font-weight: 600;
  }
}
