.container {
  background-color: var(--black);
  padding: 7px 12px 7.38px 15px;
  position: sticky;
  top: 0;
  z-index: 40;
}

@media (min-width: 321px) {
  .container {
    padding: 7px 3.75vw 7.38px 4.69vw;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 6px 5.729vw 7px 4.818vw;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1920px;
  margin: 0 auto;
}

.navLogo {
  align-items: center;
}

.sticky {
  border-bottom: 1px solid var(--yellow);
}

.navList {
  display: none;
}

.navLink {
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
}

.navLink:hover {
  background: linear-gradient(var(--black), var(--black)) padding-box,
    var(--linearYellow) border-box;
  border-radius: 4px;
}

@media (min-width: 1024px) {
  .container {
    padding: 11px 5.5vw;
  }

  .navList {
    display: flex;
    margin-right: 5%;
    margin-left: auto;
    gap: 39px;
  }

  .navLink {
    font-size: 18px;
    line-height: 21px;
    padding: 18px 34px 19px 35px;
    cursor: pointer;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 20px 7.5vw;
  }

  .navList {
    display: flex;
    margin-right: 0;
    margin-left: auto;
    gap: 39px;
  }
}
@media (min-width: 1920px) {
  .container {
    padding: 11px 130px 11px 130px;
  }

  .navList {
    gap: 51px;
  }
}
