.section {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.container {
  background: linear-gradient(var(--primaryBg), var(--primaryBg)) padding-box,
    var(--linearBorderLight) border-box;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 24px;
}

.image {
  margin: 0 auto;
  max-width: 225px;
  padding: 24px;
  border: 1px solid;
}

.image img {
  width: 100%;
  height: auto;
}

.content {
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  justify-content: center;
  text-align: center;
}

.content h3 {
  font-size: clamp(1.5rem, 1.0696rem + 2.0253vw, 3.5rem);
  font-weight: 500;
}

.form {
}

.playBtn {
  padding: 16px 10px;
  font-size: clamp(0.875rem, 0.8212rem + 0.2532vw, 1.125rem);
  background: linear-gradient(var(--primaryBg), var(--primaryBg)) padding-box,
    var(--linearBorder) border-box;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 188px;
  transition: all 0.3s ease-in-out;
  align-self: center;
}

.playBtn:hover {
  background: #ed143d70;
}

@media (min-width: 768px) {
  .container,
  .playBtn {
    background: linear-gradient(var(--primaryBg), var(--primaryBg)) padding-box,
      var(--linearBorder) border-box;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
  .image {
    order: 2;
    width: 25%;
  }
  .content {
    width: 65%;
    justify-content: unset;
    text-align: left;
    margin: 16px 0 0 20px;
  }

  .section {
    width: 80%;
  }
}
