.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;

  padding: 0 20px;
}

.error h1 {
  margin: 0 20px;
  font-size: 12px;
}

@media (min-width: 768px) {
  .error h1 {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .error span:last-of-type {
    display: none;
  }
}
