.hamburger > span {
  display: block;
  width: 1.7rem;
  height: 0.15rem;
  border-radius: 20px;
  background-color: var(--white);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-origin: 6px 1px;
  transform-origin: 6px 1px;
}

.hamburger > span:not(:last-child) {
  margin-bottom: 3px;
}

.isOpen > span:nth-child(2) {
  opacity: 0;
}

.isOpen > span:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.isOpen > span:last-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}
