:root {
  --white: #fff;
  --grey: #a9a9a9;
  --yellow: #f2bb1f;
  --black: #0f0e0e;
  --primaryBg: #1d1d1d;
  --primaryColor: #ffb400;
  --linearDefault: linear-gradient(268.4deg, #ffb400 0.49%, #fe8833 44.45%, #fd556f 96.2%);
  --linearSec: linear-gradient(268.4deg, #fd556f 96.2%, #fe8833 44.45%, #ffb400 0.49%);
  --linearBorder: linear-gradient(rgba(253, 85, 111, 1), rgba(0, 0, 0, 0) 60%);
  --linearBorderLight: linear-gradient(rgba(253, 85, 111, 0.1), rgba(0, 0, 0, 0) 60%);
  --linearPurple: linear-gradient(rgba(157, 48, 241, 0.5), rgba(255, 255, 255, 0));
  --linearYellow: linear-gradient(rgba(255, 204, 22, 0.5), rgba(0, 0, 0, 0) 60%);
}

/* css resets */
html,
body {
  font-size: 16px;
  box-sizing: border-box;
  height: 100%;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  height: stretch;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  color: var(--white);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
figure {
  margin: 0;
}
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}

.pageContainer {
  padding: 40px 15px;

  max-width: 1920px;
  margin: 0 auto;
}

.faq-row-wrapper .faq-row {
  border: 1px solid #333333;
  border-color: #333333 !important;
  border-radius: 4px;
  padding: 0 !important;
}

.faq-row-wrapper .faq-row:not(:nth-of-type(4n)) {
  margin-bottom: 16px;
}

.faq-row-wrapper .faq-row .row-title {
  padding: 12px 0 11px 12px !important;
  align-items: center;
}
.faq-row-wrapper .faq-row .row-title .row-title-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.faq-row-wrapper .faq-row .row-content-text {
  padding: 0 12px 11px 12px !important;
  text-align: justify;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .pageContainer {
    padding: 40px 44px;
  }

  .faq-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 215px;
    column-gap: 20px;
  }

  .faq-body .faq-row {
    width: 318px;
  }
}

@media (min-width: 1024px) {
  .pageContainer {
    padding: 90px 130px;
  }
}
@media (min-width: 1440px) {
  .faq-body .faq-row {
    width: 580px;
  }
}
@media (min-width: 1920px) {
  .faq-body .faq-row {
    width: 680px;
  }
}
